body{
    background-color: rgb(0, 25, 48);
    font: normal 20px Arial;
    text-align: center;
    height: 1dvh;


}
h1{
    color: rgb(113, 173, 241);
}

h2{
    color: antiquewhite;
}
h3{
    color:antiquewhite;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
}
section{
    background-color: beige;
    max-width: 80%;
    width: 400px;
    padding: 15px;
    margin: auto;
    border-radius: 20px;

}
input{
    font-size: 20px;
    margin-bottom: 10px;
    border: none;
}
.button{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100px;
    background-color: white;
    border: none;
    padding: 7px;
    font: bold 16px Arial;
    border-radius: 10px;
}

.button:active{
    transform: scale(0.95);
}
.button2:active{
    transform: scale(0.95);
}
.button2{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
    margin-bottom: 20px;
    margin-top: 10px;
    width: 300px;
    background-color: white;
    border: none;
    padding: 7px;
    font: bold 16px Arial;
    border-radius: 10px;
}
.button:active{
    transform: scale(0.95);
}

select{
    font-size: 20px;
    border: none;
    overflow: hidden;
    padding: 7px;
}
p {
    font-size: 20px;
    font-weight: bold;
}